#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0     800     0     0>
            , <&key_physical_attrs 100 100    0  100     800     0     0>
            , <&key_physical_attrs 100 100    0  200     800     0     0>
            , <&key_physical_attrs 100 100    0  300     800     0     0>
            , <&key_physical_attrs 100 100  100   20     800     0     0>
            , <&key_physical_attrs 100 100  100  120     800     0     0>
            , <&key_physical_attrs 100 100  100  220     800     0     0>
            , <&key_physical_attrs 100 100  100  320     800     0     0>
            , <&key_physical_attrs 100 100  200   40     800     0     0>
            , <&key_physical_attrs 100 100  200  140     800     0     0>
            , <&key_physical_attrs 100 100  200  240     800     0     0>
            , <&key_physical_attrs 100 100  200  340     800     0     0>
            , <&key_physical_attrs 100 100  300   60     800     0     0>
            , <&key_physical_attrs 100 100  300  160     800     0     0>
            , <&key_physical_attrs 100 100  300  260     800     0     0>
            , <&key_physical_attrs 100 100  300  360     800     0     0>
            , <&key_physical_attrs 100 100  400   80     800     0     0>
            , <&key_physical_attrs 100 100  400  180     800     0     0>
            , <&key_physical_attrs 100 100  400  280     800     0     0>
            , <&key_physical_attrs 100 100  400  380     800     0     0>
            , <&key_physical_attrs 100 100  500  100     800     0     0>
            , <&key_physical_attrs 100 100  500  200     800     0     0>
            , <&key_physical_attrs 100 100  500  300     800     0     0>
            , <&key_physical_attrs 100 100  500  400     800     0     0>
            , <&key_physical_attrs 100 100  400  417     800     0     0>
            , <&key_physical_attrs 100 100  500  420    1200   150   200>
            , <&key_physical_attrs 100 100  605  420    2500   350   400>
            , <&key_physical_attrs 100 100  705  420    4000   460   480>
            , <&key_physical_attrs 100 100  605  320    2500   350   400>
            , <&key_physical_attrs 100 100  705  320    4000   460   480>
            , <&key_physical_attrs 100 100 1000  100  (-800)     0     0>
            , <&key_physical_attrs 100 100 1000  200  (-800)     0     0>
            , <&key_physical_attrs 100 100 1000  300  (-800)     0     0>
            , <&key_physical_attrs 100 100 1000  400  (-800)     0     0>
            , <&key_physical_attrs 100 100 1100   80  (-800)     0     0>
            , <&key_physical_attrs 100 100 1100  180  (-800)     0     0>
            , <&key_physical_attrs 100 100 1100  280  (-800)     0     0>
            , <&key_physical_attrs 100 100 1100  380  (-800)     0     0>
            , <&key_physical_attrs 100 100 1200   60  (-800)     0     0>
            , <&key_physical_attrs 100 100 1200  160  (-800)     0     0>
            , <&key_physical_attrs 100 100 1200  260  (-800)     0     0>
            , <&key_physical_attrs 100 100 1200  360  (-800)     0     0>
            , <&key_physical_attrs 100 100 1300   40  (-800)     0     0>
            , <&key_physical_attrs 100 100 1300  140  (-800)     0     0>
            , <&key_physical_attrs 100 100 1300  240  (-800)     0     0>
            , <&key_physical_attrs 100 100 1300  340  (-800)     0     0>
            , <&key_physical_attrs 100 100 1400   20  (-800)     0     0>
            , <&key_physical_attrs 100 100 1400  120  (-800)     0     0>
            , <&key_physical_attrs 100 100 1400  220  (-800)     0     0>
            , <&key_physical_attrs 100 100 1400  320  (-800)     0     0>
            , <&key_physical_attrs 100 100 1500    0  (-800)     0     0>
            , <&key_physical_attrs 100 100 1500  100  (-800)     0     0>
            , <&key_physical_attrs 100 100 1500  200  (-800)     0     0>
            , <&key_physical_attrs 100 100 1500  300  (-800)     0     0>
            , <&key_physical_attrs 100 100 1000  470 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1150  420 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1050  440 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1300  460 (-3000)     0     0>
            , <&key_physical_attrs 100 100 1200  420 (-1200) (-150) (-200)>
            , <&key_physical_attrs 100 100 1300  417  (-800)     0     0>
            , <&key_physical_attrs 100 100  605  220    2500   350   400>
            ;
    };
};