#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0     800     0     0>
            , <&key_physical_attrs 100 100    0  100     800     0     0>
            , <&key_physical_attrs 100 100    0  200     800     0     0>
            , <&key_physical_attrs 100 100    0  300     800     0     0>
            , <&key_physical_attrs 100 100  100   20     800     0     0>
            , <&key_physical_attrs 100 100  100  120     800     0     0>
            , <&key_physical_attrs 100 100  100  220     800     0     0>
            , <&key_physical_attrs 100 100  100  320     800     0     0>
            , <&key_physical_attrs 100 100  200   40     800     0     0>
            , <&key_physical_attrs 100 100  200  140     800     0     0>
            , <&key_physical_attrs 100 100  200  240     800     0     0>
            , <&key_physical_attrs 100 100  200  340     800     0     0>
            , <&key_physical_attrs 100 100  300   60     800     0     0>
            , <&key_physical_attrs 100 100  300  160     800     0     0>
            , <&key_physical_attrs 100 100  300  260     800     0     0>
            , <&key_physical_attrs 100 100  300  360     800     0     0>
            , <&key_physical_attrs 100 100  400   80     800     0     0>
            , <&key_physical_attrs 100 100  400  180     800     0     0>
            , <&key_physical_attrs 100 100  400  280     800     0     0>
            , <&key_physical_attrs 100 100  400  380     800     0     0>
            , <&key_physical_attrs 100 100  500  100     800     0     0>
            , <&key_physical_attrs 100 100  500  200     800     0     0>
            , <&key_physical_attrs 100 100  500  300     800     0     0>
            , <&key_physical_attrs 100 100  500  400     800     0     0>
            , <&key_physical_attrs 100 100  330  475     800     0     0>
            , <&key_physical_attrs 100 100  450  495    1500     0     0>
            , <&key_physical_attrs 100 100  575  530    2800     0     0>
            , <&key_physical_attrs 100 100  690  600    4500     0     0>
            , <&key_physical_attrs 100 100  625  440    2800     0     0>
            , <&key_physical_attrs 100 100  765  530    4500     0     0>
            , <&key_physical_attrs 100 100 1205  100  (-800)     0     0>
            , <&key_physical_attrs 100 100 1205  200  (-800)     0     0>
            , <&key_physical_attrs 100 100 1205  300  (-800)     0     0>
            , <&key_physical_attrs 100 100 1205  400  (-800)     0     0>
            , <&key_physical_attrs 100 100 1305   80  (-800)     0     0>
            , <&key_physical_attrs 100 100 1305  180  (-800)     0     0>
            , <&key_physical_attrs 100 100 1305  280  (-800)     0     0>
            , <&key_physical_attrs 100 100 1305  380  (-800)     0     0>
            , <&key_physical_attrs 100 100 1405   60  (-800)     0     0>
            , <&key_physical_attrs 100 100 1405  160  (-800)     0     0>
            , <&key_physical_attrs 100 100 1405  260  (-800)     0     0>
            , <&key_physical_attrs 100 100 1405  360  (-800)     0     0>
            , <&key_physical_attrs 100 100 1505   40  (-800)     0     0>
            , <&key_physical_attrs 100 100 1505  140  (-800)     0     0>
            , <&key_physical_attrs 100 100 1505  240  (-800)     0     0>
            , <&key_physical_attrs 100 100 1505  340  (-800)     0     0>
            , <&key_physical_attrs 100 100 1605   20  (-800)     0     0>
            , <&key_physical_attrs 100 100 1605  120  (-800)     0     0>
            , <&key_physical_attrs 100 100 1605  220  (-800)     0     0>
            , <&key_physical_attrs 100 100 1605  320  (-800)     0     0>
            , <&key_physical_attrs 100 100 1705    0  (-800)     0     0>
            , <&key_physical_attrs 100 100 1705  100  (-800)     0     0>
            , <&key_physical_attrs 100 100 1705  200  (-800)     0     0>
            , <&key_physical_attrs 100 100 1705  300  (-800)     0     0>
            , <&key_physical_attrs 100 100 1375  475  (-800)     0     0>
            , <&key_physical_attrs 100 100 1255  505 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1135  560 (-2800)     0     0>
            , <&key_physical_attrs 100 100 1035  650 (-4500)     0     0>
            , <&key_physical_attrs 100 100 1090  470 (-2800)     0     0>
            , <&key_physical_attrs 100 100  965  580 (-4500)     0     0>
            , <&key_physical_attrs 100 100  675  350    2800     0     0>
            ;
    };
};