#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        keys =
            // Left pinky column (4 keys)
              <&key_physical_attrs 100 100    0    0  0  0  0>
            , <&key_physical_attrs 100 100    0  100  0  0  0>
            , <&key_physical_attrs 100 100    0  200  0  0  0>
            , <&key_physical_attrs 100 100    0  300  0  0  0>

            // Left ring column
            , <&key_physical_attrs 100 100  100   50  0  0  0>
            , <&key_physical_attrs 100 100  100  150  0  0  0>
            , <&key_physical_attrs 100 100  100  250  0  0  0>

            // Left middle column
            , <&key_physical_attrs 100 100  200   75  0  0  0>
            , <&key_physical_attrs 100 100  200  175  0  0  0>
            , <&key_physical_attrs 100 100  200  275  0  0  0>

            // Left index column
            , <&key_physical_attrs 100 100  300  100  0  0  0>
            , <&key_physical_attrs 100 100  300  200  0  0  0>
            , <&key_physical_attrs 100 100  300  300  0  0  0>

            // Left inner column (2 keys)
            , <&key_physical_attrs 100 100  400  125  0  0  0>
            , <&key_physical_attrs 100 100  400  225  0  0  0>

            // Left thumb cluster (2 keys)
            , <&key_physical_attrs 100 100  175  400  0  0  0>
            , <&key_physical_attrs 100 100  275  425  0  0  0>

            // Right inner column (2 keys)
            , <&key_physical_attrs 100 100  700  125  0  0  0>
            , <&key_physical_attrs 100 100  700  225  0  0  0>

            // Right index column
            , <&key_physical_attrs 100 100  800  100  0  0  0>
            , <&key_physical_attrs 100 100  800  200  0  0  0>
            , <&key_physical_attrs 100 100  800  300  0  0  0>

            // Right middle column
            , <&key_physical_attrs 100 100  900   75  0  0  0>
            , <&key_physical_attrs 100 100  900  175  0  0  0>
            , <&key_physical_attrs 100 100  900  275  0  0  0>

            // Right ring column
            , <&key_physical_attrs 100 100 1000   50  0  0  0>
            , <&key_physical_attrs 100 100 1000  150  0  0  0>
            , <&key_physical_attrs 100 100 1000  250  0  0  0>

            // Right pinky column (4 keys)
            , <&key_physical_attrs 100 100 1100    0  0  0  0>
            , <&key_physical_attrs 100 100 1100  100  0  0  0>
            , <&key_physical_attrs 100 100 1100  200  0  0  0>
            , <&key_physical_attrs 100 100 1100  300  0  0  0>

            // Right thumb cluster (2 keys)
            , <&key_physical_attrs 100 100  825  400  0  0  0>
            , <&key_physical_attrs 100 100  725  425  0  0  0>
            ;
    };
};